{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="container-fluid" style="padding: 20px 40%; text-align: center;">
        <h1 class="h1 m-md-4">LOGIN</h1>
        <form>
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Email" value="{{ last_username }} " required autofocus />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" autocomplete="current-password" required />
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example34"/>
                        <label class="form-check-label" for="form2Example34"> Remember me </label>
                    </div>
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
        </form>
    </div>
{% endblock %}
